* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .w25{
    width: 25;
}
.w50{
    width: 50%;
}
.w70{
    width: 70%;
}

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
    }
    
    .spaceBetween {
        justify-content: space-between;
    }
    .alignCenter{
        align-items: center;
    }

    .pucesNone{
        list-style: none;
    }

    a { 
        text-decoration: none;
    }
    
.black {
    color: black;
}
.black:hover {
    color: #4d3e9a;
}
.white {
    color: white;
}

.bleu-violet{
background-color: rgba(188, 146, 227, 0.804);

}
.back{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

    .black {
        color: black;
    }
    header {
        padding: 10px;
        background-color: rgb(red, green, rgba(0, 145, 255, 0.50));
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        backdrop-filter: blur(6px);
        z-index: 3;
    }

    header>nav {
        margin: auto;
        }
        